.header {
  margin-top: 55px;
  text-align: center;
  padding: 20px 0;
  background-color: var(--ion-color-primary);
  color: #fff;
}

.no-viajes {
  text-align: center;
  margin-top: 20px;
  color: gray;
  font-size: 1.2rem;
}

ion-item {
  --color: #000; /* Asegura que el texto sea negro */
  --ion-text-color: #000; /* Define el color del texto */
  --border-color: var(--ion-color-medium);
  margin-bottom: 10px;
}
ion-label {
  color: #000; /* Asegura que el texto dentro del label sea negro */
}


#viajes{
  margin-top: 20px;
  overflow-y:scroll;
}

.ruta-imagen-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden; /* Ocultar contenido que exceda los límites */
  height: 200px; /* Altura fija para la imagen */
  margin-bottom: 10px; /* Espaciado con respecto al botón */
}

.ruta-imagen {
  max-width: 100%; /* Ajusta el ancho a su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Corta la imagen para que se ajuste al contenedor */
}

#spacer{
  padding-bottom: 300px;
}