<ion-content id="main-content" [fullscreen]="true" scroll="">
  <ion-content [fullscreen]="true">
    <div class="header">
      <h1>Viajes Programados</h1>
    </div>

    <div *ngIf="viajes.length === 0" class="no-viajes">
      <p>No hay viajes disponibles.</p>
    </div>

    <ion-content id="viajes" scro>
  
      <ion-item *ngFor="let viaje of viajes">
        <ion-label>
          <h2>Destino: {{ viaje.destino }}</h2>
          <p>Conductor: {{ viaje.conductor }}</p>
          <p>Fecha: {{ viaje.fecha }}</p>
          <p>Costo: {{ viaje.montoPorPasajero }}</p>
        </ion-label>

        <div class="ruta-imagen-container">
          <img *ngIf="viaje.rutaImagen" [src]="viaje.rutaImagen" alt="Ruta del viaje" class="ruta-imagen" />
        </div>

        <ion-button
          color="primary"
          (click)="tomarViaje(viaje)"
          [disabled]="viajeTomado !== null" 
        >
          Tomar Viaje
        </ion-button>
      </ion-item>
      
      <!-- Botón de cancelar y temporizador -->
      <div *ngIf="viajeTomado">
        <p>Viaje tomado: {{ viajeTomado.destino }}</p>
        <p>Tiempo restante para cancelar: {{ tiempoRestante | secondsToTime }}</p>
        <ion-button color="danger" (click)="cancelarViaje()">Cancelar Viaje</ion-button>
      </div>
      <div id="spacer">
        <h1 class="uwu"></h1>
      </div>
  </ion-content> 
</ion-content>
